<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <input type="search" 
                class="form-control"
                placeholder="Enter search string"
                #search>
            <button 
                class="btn btn-primary"
                (click)=doSearch(search.value)>
                Search
            </button>
        </div>
    </form>
    <div class="text-center">
        <p class="lead" *ngIf="loading">
          Loading...
        </p>
      </div>
    <div class="row" *ngIf="searchItems.length > 0">
        <div class="container">
            <ul class="list-group">
                <li 
                    class="list-group-item" 
                    *ngFor="let item of searchItems">
                    <img src="{{item.thumbnail}}">
                    <a href="{{item.link}}">
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
